alias ec='emacsclient -c -s $DISPLAY -a "" $*'
alias ls='ls --color -la'
alias vi='vim'
alias scp='/usr/bin/scp -2'
alias jsonpp='python -mjson.tool'
alias sshf='ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -i ~/remitly/internal_pdx.pem'

