
alias ec='emacsclient -c -s $DISPLAY -a "" $*'
alias ls='ls --color -la'
alias vi='vim'
alias scp='/usr/bin/scp -2'

alias jsonpp='python -mjson.tool'
alias foundry='ssh -p 22768 -i /home/leef/wire/build-deploy/pems/prod_pdx.pem -o StrictHostKeyChecking=no ubuntu@10.0.11.23'